<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Bikesky Labeler</title>
    <style>
        <%- include('../partials/labels-ogimage.css'); %>
      </style>
    </head>
  <body>
    <main>
      <div class="font-inter relative grid min-h-screen grid-cols-[1fr_auto_1fr] bg-linear-to-b from-gray-900 to-sky-900 text-gray-50">
        <div title="labels" class="col-start-2 my-3 flex flex-col self-center text-sm/loose">
          <div class="ml-2.5 flex items-center rounded-2xl">
            <img src="https://cdn.bsky.app/img/avatar/plain/did:plc:qkty4ninplgtzeychgz4yyrh/bafkreialgq54vdm3wo4yylupdfs3qhe7tfew34epgw4ytj5kb34xdccyoy@jpeg" class="h-28 rounded-2xl" alt="Tailwind Play" />
            <h1 class="ml-7 text-7xl font-semibold">Bikesky Labeler</h1>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
