<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= labelerDisplayName %></title>
    <style>
        <%- include('../partials/labels-ogimage.css'); %>
      </style>
    </head>
  <body>
    <main>
      <div class="font-inter relative grid min-h-screen grid-cols-[1fr_auto_1fr] bg-linear-to-b from-gray-900 to-gray-800 text-gray-50">
        <div title="labels" class="col-start-2 my-3 flex flex-col self-center text-sm/loose">
          <div class="ml-2.5 flex items-center rounded-2xl">
            <img src="<%= labelerAvatarUrl %>" class="h-28 rounded-2xl" alt="Tailwind Play" />
            <h1 class="ml-7 text-7xl font-semibold"><%= labelerDisplayName %></h1>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
