<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="labels">
    <h1>Labels</h1>
    <p>Let's get you some labels</p>
  </div>
</main>

</body>
</html>